<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .textbox
      {
        width: 100%;
      }
      textarea
      {
        width: 50%;
        height: 300px;
      }
      #title
      {
        width: 30%;
        height: 20px;
      }
      #content
      {
        width: 70%;
        height: 300px;
      }
      input[type = button]
      {

      }
    </style>
  </head>
  <body>
    <h1>YEET<i class="fa fa-reddit" style="font-size:48px;color:red"></i></h1>
    <p>Welcome to YEET</p>
  <div class = "textbox">
    <form> 
      Title:<br>
      <textarea cols="73" rows="12" name="posttitle" id="title"></textarea><br> 
      Content:<br>
      <textarea cols="73" rows="12" name="post" id="content"></textarea><br>
      <input type="submit" value="Submit" formaction="/users"/><br>
      

    
    </form>
  </div>
    
  </body>
</html>
